@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

button:hover {
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
}

.App {
  background-color: #eaeaea;
  min-height: 100vh;
  width: 100%;
  padding-top: 50px;
}

.App-header {
  text-align: center;
}

.main-title {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 600;
  margin-top: 10px;
}

.budget-field {
  margin-bottom: 10px;
}

.new-budget {
  margin-right: 10px;
  font-size: 15px;
  padding: 2px;
}

.save-button {
  font-size: 15px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.budget-container {
  border: 2px solid black;
  width: 50%;
  min-height: 350px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  color: black;
  animation: spin 1s linear infinite;
}
