button:hover {
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
}

.App {
  background-color: #eaeaea;
  min-height: 100vh;
  width: 100%;
  padding-top: 50px;
}

.App-header {
  text-align: center;
}

.budget-field {
  margin-bottom: 10px;
}

.new-budget {
  margin-right: 10px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.budget-container {
  border: 2px solid black;
  width: 50%;
  min-height: 350px;
}
