.entry-details {
  display: flex;
  font-size: 18px;
  gap: 10px;
}

.close-button {
  background-color: red;
  border-radius: 5px;
  margin-left: 5px;
}

.action-buttons {
  display: flex;
  justify-content: center;
}
