.info-container {
  display: flex;
  justify-content: center;
}

.entry-info {
  margin-right: 5px;
  font-size: 18px;
}

.close-button {
  background-color: red;
  font-size: 15px;
  border-radius: 5px;
  margin-left: 5px;
}

.action-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 450px) {
  .info-container {
    flex-direction: column;
  }
}
