.entry-prompt {
  text-align: center;
  font-size: 18px;
}

.title {
  margin-top: -10px;
  margin-left: -15px;
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

.list-items {
  margin: 5px 0px;
}

.detailed-view {
  margin-left: 5px;
  border: none;
  background-color: #eaeaea;
}

@media screen and (max-width: 450px) {
  .data-container {
    margin-bottom: 5px;
  }
}
