.title {
  text-align: center;
}
.data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  margin-top: 10px;
  width: 100%;
}

.handler-buttons {
  display: flex;
  margin-left: 10px;
  gap: 5px;
}
