.create-entry {
  display: flex;
  justify-content: center;
}

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
}

.add-button {
  margin-top: 10px;
  background-color: lawngreen;
  border-radius: 5px;
  font-size: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 5px;
  align-items: center;
}

.entry-input {
  font-size: 18px;
  padding: 2px;
  max-width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.entry-action-buttons {
  border-radius: 5px;
  font-size: 15px;
  margin-top: 10px;
}
