.create-entry {
  display: flex;
  justify-content: center;
}

.add-button {
  margin-top: 10px;
  background-color: lawngreen;
  border-radius: 5px;
  font-size: 15px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 5px;
}

.entry-input {
  font-size: 18px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.action-buttons {
  border-radius: 5px;
  font-size: 15px;
  margin-top: 10px;
}
