.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.sign-in-title {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 20px;
}

.sign-in-button {
  background-color: #007bff;
  color: white;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.sign-in-button:hover {
  background-color: #007;
}

.prompt {
  font-weight: 500;
}
