.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.sign-in-title {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 20px;
}
