.edit-container {
  display: flex;
  margin-bottom: 5px;
}

.input {
  margin-right: 5px;
}

.save-button {
  border-radius: 5px;
  max-width: 75px;
}

@media screen and (max-width: 450px) {
  .edit-container {
    flex-direction: column;
    align-items: center;
  }

  .input,
  .save-button {
    margin-top: 5px;
  }
}
