.transfer-mode {
  display: flex;
  gap: 5px;
  margin: 5px 0px;
}

.transfer-button {
  border-radius: 5px;
  max-width: 75px;
}

@media screen and (max-width: 450px) {
  .transfer-mode {
    flex-direction: column;
    align-items: center;
  }
}
